/* Global style sheet for all components */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 100%;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: hotpink;
  font-size: 5vh;
  float: left;
  margin-left: 0;
  
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: hotpink;
  transform: scale(1.1);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* product previews / list */
.product-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.product-preview:hover {
  /* create shdow border for a fuller effect */
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  /* expand box size on hover */
  transform: scale(1.1);
}
